@tailwind base;
@tailwind components;
@tailwind utilities;

/* extract repeated utility patterns to custom CSS classes when a template partial feels heavy-handed. */
@layer components {
  .imgCaption {
    @apply border-t mt-4 mb-16 pt-4 tracking-widest text-stone-500 font-caption uppercase text-center;
  }
  .buttonDefaults {
    @apply border-0 px-8 py-2 rounded-lg text-lg tracking-wide shadow-md;
  }
  .buttonCTA {
    @apply  bg-gradient-to-r
    from-fuchsia-500
    via-purple-500
    to-pink-500
    /* border-purple-400 */
    text-purple-50;
  }
  .buttonCTA:hover {
    @apply from-pink-500
    via-fuchsia-500
    to-purple-500
    /* border-purple-200; */
  }
  .transition {
    transition-property: --tw-gradient-to, --tw-gradient-from, --tw-gradient-stops;
  }
  .buttonPrimary {
    @apply bg-sky-600  border-transparent text-zinc-50;
  }
  .buttonSecondary {
    @apply shadow-none bg-none border-sky-700 dark:border-sky-200 text-sky-700 dark:text-sky-200;
  }
  .buttonSecondaryAlt {
    @apply bg-sky-200 shadow-none border-transparent text-sky-700;
  }
  .buttonTertiary {
    @apply shadow-none bg-none border-transparent text-sky-700 dark:text-sky-200;
  }
  .buttonDisabled {
    @apply bg-zinc-200 shadow-none border-transparent text-zinc-700;
  }
  .buttonWarning {
    @apply bg-yellow-200 shadow-none border-yellow-300 text-yellow-700;
  }
  .buttonError {
    @apply bg-red-200 shadow-none border-red-300 text-red-700;
  }
  .buttonSuccess {
    @apply bg-lime-200 shadow-none border-lime-300 text-lime-700;
  }
  .priceReduction {
    text-decoration-color: red;
    opacity: 0.8;
    text-decoration-thickness: 0.2rem;
  }


/* CustomCSS */
@layer utilities {
  /* Proxima Nova 100-700 */
  @font-face {
    font-family: ProximaNova;
    font-weight: 700;
    /* _site/typography/ProximaNova-Extrabld.woff */
    src: url('./typography/ProximaNova-Black.woff2') format('woff2'),
      url('./typography/ProximaNova-Black.woff') format('woff');
  }
  @font-face {
    font-family: ProximaNova;
    font-weight: 700;
    font-style: italic;
    src: url('./typography/ProximaNova-BlackIt.woff2') format('woff2'),
      url('./typography/ProximaNova-BlackIt.woff') format('woff');
  }
  @font-face {
    font-family: ProximaNova;
    font-weight: 600;
    src: url('./typography/ProximaNova-Extrabld.woff2') format('woff2'),
      url('./typography/ProximaNova-Extrabld.woff') format('woff');
  }
  @font-face {
    font-family: ProximaNova;
    font-weight: 600;
    font-style: italic;
    src: url('./typography/ProximaNova-ExtrabldIt.woff2') format('woff2'),
      url('./typography/ProximaNova-ExtrabldIt.woff');
  }
  @font-face {
    font-family: ProximaNova;
    font-weight: 500;
    src: url('./typography/ProximaNova-Bold.woff2') format('woff2'),
      url('./typography/ProximaNova-Bold.woff') format('woff');
  }
  @font-face {
    font-family: ProximaNova;
    font-weight: 500;
    font-style: italic;
    src: url('./typography/ProximaNova-BoldIt.woff2') format('woff2'),
      url('./typography/ProximaNova-BoldIt.woff');
  }
  @font-face {
    font-family: ProximaNova;
    font-weight: 400;
    src: url('./typography/ProximaNova-Semibold.woff2') format('woff2'),
      url('./typography/ProximaNova-Semibold.woff') format('woff');
  }
  @font-face {
    font-family: ProximaNova;
    font-weight: 400;
    font-style: italic;
    src: url('./typography/ProximaNova-SemiboldIt.woff2') format('woff2'),
      url('./typography/ProximaNova-SemiboldIt.woff');
  }
  @font-face {
    font-family: ProximaNova;
    font-weight: 300;
    src: url('./typography/ProximaNova-Regular.woff2') format('woff2'),
      url('./typography/ProximaNova-Regular.woff') format('woff');
  }
  @font-face {
    font-family: ProximaNova;
    font-weight: 300;
    font-style: italic;
    src: url('./typography/ProximaNova-RegularIt.woff2') format('woff2'),
      url('./typography/ProximaNova-RegularIt.woff');
  }
  @font-face {
    font-family: ProximaNova;
    font-weight: 200;
    src: url('./typography/ProximaNova-Light.woff2') format('woff2'),
      url('./typography/ProximaNova-Light.woff') format('woff');
  }
  @font-face {
    font-family: ProximaNova;
    font-weight: 200;
    font-style: italic;
    src: url('./typography/ProximaNova-LightIt.woff2') format('woff2'),
      url('./typography/ProximaNova-LightIt.woff');
  }
  @font-face {
    font-family: ProximaNova;
    font-weight: 100;
    src: url('./typography/ProximaNova-Thin.woff2') format('woff2'),
      url('./typography/ProximaNova-Thin.woff') format('woff');
  }
  @font-face {
    font-family: ProximaNova;
    font-weight: 100;
    font-style: italic;
    src: url('./typography/ProximaNova-ThinIt.woff2') format('woff2'),
      url('./typography/ProximaNova-ThinIt.woff');
  }
}

/* Optician Sans */
@font-face {
  font-family: OpticianSans;
  font-weight: 400;
  src: url('./typography/optician-sans.woff2') format('woff2'),
    url('./typography/optician-sans.woff') format('woff');
}
.gradientText {
    color: transparent;
    @apply bg-clip-text bg-gradient-to-r
    from-cyan-500
    via-fuchsia-500
    to-blue-500
    dark:from-fuchsia-500
    dark:via-emerald-400
    dark:to-indigo-500;
  }
  .highImpact {
    /* text-decoration-style: wavy; */
    /* text-decoration-color: red; */
    /* text-decoration-thickness: 3px; */
    /* text-decoration-line: underline; */
    @apply py-0 px-4 bg-yellow-400 text-stone-900;
  }
  #services {
  }
.article {
  width: 49ch;
}
.article h1 {
  font-size: 3.052rem;
  line-height: 64px;
}
.article h2 {
  font-size: 2.441rem;
  line-height: 60px;
}
.article h3 {
  font-size: 1.953rem;
  line-height: 56px;
}
.article h4 {
  font-size: 1.563rem;
  line-height: 32px;
}
.article h5 {
  font-size: 1.25rem;
  line-height: 28px;
}
.article ul {
  margin-left: 32px;
  list-style: circle;
  padding: 16px 0;
}
.article li {
  font-size: 1rem;
  margin: 0 0 16px 0;
}
article p {
  font-size: 1.4rem;
  line-height: 2rem;
  margin: 16px 0;
}
.article pre {
  padding: 16px;
  margin: 16px 0;
  background-color: rgba(255, 255, 255, 0.1);
}
/* .article figcaption {
  font-size: 16px;
  letter-spacing: 0.025rem;
  color: rgba(255,255,255,0.6);
  padding: 8px;
  text-align: right;
} */
}
