@tailwind base;
@tailwind components;
@tailwind utilities;

/* CustomCSS */
@layer utilities {
  /* Proxima Nova 100-700 */
  @font-face {
    font-family: ProximaNova;
    font-weight: 700;
    src: url('/typography/ProximaNova/ProximaNova-Black.woff2') format('woff2'),
      url('/typography/ProximaNova/ProximaNova-Black.woff') format('woff');
  }
  @font-face {
    font-family: ProximaNova;
    font-weight: 700;
    font-style: italic;
    src: url('/typography/ProximaNova/ProximaNova-BlackIt.woff2')
        format('woff2'),
      url('/typography/ProximaNova/ProximaNova-BlackIt.woff') format('woff');
  }
  @font-face {
    font-family: ProximaNova;
    font-weight: 600;
    src: url('/typography/ProximaNova/ProximaNova-Extrabld.woff2')
        format('woff2'),
      url('/typography/ProximaNova/ProximaNova-Extrabld.woff') format('woff');
  }
  @font-face {
    font-family: ProximaNova;
    font-weight: 600;
    font-style: italic;
    src: url('/typography/ProximaNova/ProximaNova-ExtrabldIt.woff2')
        format('woff2'),
      url('/typography/ProximaNova/ProximaNova-ExtrabldIt.woff');
  }
  @font-face {
    font-family: ProximaNova;
    font-weight: 500;
    src: url('/typography/ProximaNova/ProximaNova-Bold.woff2') format('woff2'),
      url('/typography/ProximaNova/ProximaNova-Bold.woff') format('woff');
  }
  @font-face {
    font-family: ProximaNova;
    font-weight: 500;
    font-style: italic;
    src: url('/typography/ProximaNova/ProximaNova-BoldIt.woff2') format('woff2'),
      url('/typography/ProximaNova/ProximaNova-BoldIt.woff');
  }
  @font-face {
    font-family: ProximaNova;
    font-weight: 400;
    src: url('/typography/ProximaNova/ProximaNova-Semibold.woff2')
        format('woff2'),
      url('/typography/ProximaNova/ProximaNova-Semibold.woff') format('woff');
  }
  @font-face {
    font-family: ProximaNova;
    font-weight: 400;
    font-style: italic;
    src: url('/typography/ProximaNova/ProximaNova-SemiboldIt.woff2')
        format('woff2'),
      url('/typography/ProximaNova/ProximaNova-SemiboldIt.woff');
  }
  @font-face {
    font-family: ProximaNova;
    font-weight: 300;
    src: url('/typography/ProximaNova/ProximaNova-Regular.woff2')
        format('woff2'),
      url('/typography/ProximaNova/ProximaNova-Regular.woff') format('woff');
  }
  @font-face {
    font-family: ProximaNova;
    font-weight: 300;
    font-style: italic;
    src: url('/typography/ProximaNova/ProximaNova-RegularIt.woff2')
        format('woff2'),
      url('/typography/ProximaNova/ProximaNova-RegularIt.woff');
  }
  @font-face {
    font-family: ProximaNova;
    font-weight: 200;
    src: url('/typography/ProximaNova/ProximaNova-Light.woff2') format('woff2'),
      url('/typography/ProximaNova/ProximaNova-Light.woff') format('woff');
  }
  @font-face {
    font-family: ProximaNova;
    font-weight: 200;
    font-style: italic;
    src: url('/typography/ProximaNova/ProximaNova-LightIt.woff2')
        format('woff2'),
      url('/typography/ProximaNova/ProximaNova-LightIt.woff');
  }
  @font-face {
    font-family: ProximaNova;
    font-weight: 100;
    src: url('/typography/ProximaNova/ProximaNova-Thin.woff2') format('woff2'),
      url('/typography/ProximaNova/ProximaNova-Thin.woff') format('woff');
  }
  @font-face {
    font-family: ProximaNova;
    font-weight: 100;
    font-style: italic;
    src: url('/typography/ProximaNova/ProximaNova-ThinIt.woff2') format('woff2'),
      url('/typography/ProximaNova/ProximaNova-ThinIt.woff');
  }
}
