@tailwind base;
@tailwind components;
@tailwind utilities;

/* CustomCSS */
@layer utilities {
  /* Proxima Nova 100-700 */
  @font-face {
    font-family: ProximaNova;
    font-weight: 700;
    /* _site/typography/ProximaNova-Extrabld.woff */
    src: url('./typography/ProximaNova-Black.woff2') format('woff2'),
      url('./typography/ProximaNova-Black.woff') format('woff');
  }
  @font-face {
    font-family: ProximaNova;
    font-weight: 700;
    font-style: italic;
    src: url('./typography/ProximaNova-BlackIt.woff2')
        format('woff2'),
      url('./typography/ProximaNova-BlackIt.woff') format('woff');
  }
  @font-face {
    font-family: ProximaNova;
    font-weight: 600;
    src: url('./typography/ProximaNova-Extrabld.woff2')
        format('woff2'),
      url('./typography/ProximaNova-Extrabld.woff') format('woff');
  }
  @font-face {
    font-family: ProximaNova;
    font-weight: 600;
    font-style: italic;
    src: url('./typography/ProximaNova-ExtrabldIt.woff2')
        format('woff2'),
      url('./typography/ProximaNova-ExtrabldIt.woff');
  }
  @font-face {
    font-family: ProximaNova;
    font-weight: 500;
    src: url('./typography/ProximaNova-Bold.woff2') format('woff2'),
      url('./typography/ProximaNova-Bold.woff') format('woff');
  }
  @font-face {
    font-family: ProximaNova;
    font-weight: 500;
    font-style: italic;
    src: url('./typography/ProximaNova-BoldIt.woff2') format('woff2'),
      url('./typography/ProximaNova-BoldIt.woff');
  }
  @font-face {
    font-family: ProximaNova;
    font-weight: 400;
    src: url('./typography/ProximaNova-Semibold.woff2')
        format('woff2'),
      url('./typography/ProximaNova-Semibold.woff') format('woff');
  }
  @font-face {
    font-family: ProximaNova;
    font-weight: 400;
    font-style: italic;
    src: url('./typography/ProximaNova-SemiboldIt.woff2')
        format('woff2'),
      url('./typography/ProximaNova-SemiboldIt.woff');
  }
  @font-face {
    font-family: ProximaNova;
    font-weight: 300;
    src: url('./typography/ProximaNova-Regular.woff2')
        format('woff2'),
      url('./typography/ProximaNova-Regular.woff') format('woff');
  }
  @font-face {
    font-family: ProximaNova;
    font-weight: 300;
    font-style: italic;
    src: url('./typography/ProximaNova-RegularIt.woff2')
        format('woff2'),
      url('./typography/ProximaNova-RegularIt.woff');
  }
  @font-face {
    font-family: ProximaNova;
    font-weight: 200;
    src: url('./typography/ProximaNova-Light.woff2') format('woff2'),
      url('./typography/ProximaNova-Light.woff') format('woff');
  }
  @font-face {
    font-family: ProximaNova;
    font-weight: 200;
    font-style: italic;
    src: url('./typography/ProximaNova-LightIt.woff2')
        format('woff2'),
      url('./typography/ProximaNova-LightIt.woff');
  }
  @font-face {
    font-family: ProximaNova;
    font-weight: 100;
    src: url('./typography/ProximaNova-Thin.woff2') format('woff2'),
      url('./typography/ProximaNova-Thin.woff') format('woff');
  }
  @font-face {
    font-family: ProximaNova;
    font-weight: 100;
    font-style: italic;
    src: url('./typography/ProximaNova-ThinIt.woff2') format('woff2'),
      url('./typography/ProximaNova-ThinIt.woff');
  }
}

.article h1 {
  font-size: 3.052rem;
  line-height: 64px;
}
.article h2 {
  font-size: 2.441rem;
  line-height: 60px;
}
.article h3 {
  font-size: 1.953rem;
  line-height: 56px;
}
.article h4 {
  font-size: 1.563rem;
  line-height: 32px;
}
.article h5 {
  font-size: 1.25rem;
  line-height: 28px;
}
.article ul {
  margin-left: 32px;
  list-style: circle;
  padding: 16px 0;
}
.article li {
  font-size: 1rem;
  margin: 0 0 16px 0;
}
.article p {
  font-size: 1rem;
  margin: 16px 0;
}
.article pre {
  padding: 16px;
  margin: 16px 0;
  background-color: rgba(255,255,255,0.1);
}
.article figcaption {
  font-size: 16px;
  letter-spacing: 0.025rem;
  color: rgba(255,255,255,0.6);
  padding: 8px;
  text-align: right;
}
