<!-- pricing -->
<section id="pricing" class="pb-12 bg-stone-50 dark:bg-stone-900">
<div class="max-w-screen-xl m-auto px-4">
  <div class="grid gap-4 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {% for item in data.pricing %}
      {% if item.name === 'Pricing' %}
        <div class="md:col-span-2 lg:col-span-3 md:mb-5 sm:w-4/6">
          <h2 class="text-gray-800 mb-10 text-5xl tracking-tighter font-bold dark:text-gray-300">{{ item.name }}</h2>
          <p class="text-xl tracking-tight text-gray-700 dark:text-gray-500">{{ item.tagline }}</p>
        </div>
        {% else %}
        <div class="max-w-5xl mx-auto mt-4 flex flex-col lg:flex-row justify-center lg:justify-around items-center xl:odd:scale-110 filter odd:brightness-110 dark:odd:brightness-125">
          <!-- flex-1 ensures that the columns are equal height -->
          <div class="flex-1 bg-gray-50 dark:bg-gray-700  max-w-sm shadow-md rounded-md">
            <h3 class="rounded-t-lg bg-gray-300 dark:bg-gray-600 font-medium text-gray-900 dark:text-gray-300 border border-gray-100 dark:border-gray-600 text-sm text-center px-8 py-4 uppercase tracking-widest">{{ item.name }}</h3>
            <p class="block py-8 text-gray-800 dark:text-gray-400 text-base leading-snug text-center px-8">{{ item.description | safe }}</p>
            <div class="w-full px-8 my-8">
              <img src="{{ item.svg }}" class="max-h-64 m-auto" alt="">
              <!-- {{ item.illustration | safe }} -->
            </div>
            <div>
              <ul class="px-8">
                {% for count in item.sellingPoints %}
                <li class="my-3">
                  <div class="flex items-start">
                    <svg class="w-5 h-5 text-green-500 dark:text-green-400" fill="none" viewBox="0 0 20 20" stroke="currentColor">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M10 18C14.4183 18 18
                      14.4183 18 10C18 5.58172 14.4183 2 10 2C5.58172 2 2 5.58172 2 10C2 14.4183
                      5.58172 18 10 18ZM13.7071 8.70711C14.0976 8.31658 14.0976 7.68342 13.7071
                      7.29289C13.3166 6.90237 12.6834 6.90237 12.2929 7.29289L9 10.5858L7.70711
                      9.29289C7.31658 8.90237 6.68342 8.90237 6.29289 9.29289C5.90237 9.68342
                      5.90237 10.3166 6.29289 10.7071L8.29289 12.7071C8.68342 13.0976 9.31658
                      13.0976 9.70711 12.7071L13.7071 8.70711Z" fill="currentColor" />
                    </svg>
                    <div class="font-medium text-gray-900 dark:text-gray-300 text-base ml-2">
                      {{item.sellingPointObj[count].desc | safe }}
                    </div>
                  </div>
                </li>
                {% endfor %}
              </ul>
              <div class="px-8 my-8">
                <button class="bg-blue-500 hover:bg-green-500 text-white hover:text-gray-700 text-sm w-full py-4 rounded-md">
                  <div class="flex flex-row px-4 mx-auto font-normal text-xl">
                    <p class="w-1/2 uppercase tracking-widest text-center font-bold">Order</p>
                    <p class="border-r px-2 opacity-50"></p>
                    <p class="w-1/2 text-left pl-4 tracking-wide "><span class="priceReduction line-through opacity-60 hover:text-rose-600 pr-2">${{ item.highprice }}</span>${{ item.price }}</p>
                  </div>
                </button>
              </div>
              <!-- <div class="mt-6 leading-none">
                <span class="text-6xl font-bold text-indigo-600">${{ item.price }}</span>
              </div>


              <div>
                <button class="text-gray-100 dark:text-gray-900 w-full py-3 rounded-lg text-sm mt-3
                                font-semibold bg-blue-500 dark:bg-blue-300 hover:bg-green-400">Order now</button>
              </div> -->
            </div>
          </div>
        </div>
        {% endif %}
    {% endfor %}
  </div>
</div>
</section>
