<!-- services -->
<section id="services" class="pb-12 overflow-hidden relative bg-stone-50 dark:bg-stone-900">
  <img
    class="opacity-5 absolute m-auto top-0 width-100 h-auto"
    src="https://res.cloudinary.com/goodreds/image/upload/v1644285775/goodreds.net/form_field_variants.png"
    alt=""
  />
  <div class="max-w-screen-xl m-auto px-5 relative">
    <!-- <figure>
  <img class="" src="https://res.cloudinary.com/goodreds/image/upload/v1644285775/goodreds.net/form_field_variants.png" alt="Form field variants">
  <figcaption class="imgCaption">Form field variants</figcaption>
  </figure> -->
    <div class="grid gap-10 grid-cols-1 sm:grid-cols-2 md:grid-cols-3">
      {% for item in data.services %} {% if item.name === 'Services' %}
      <div class="sm:col-span-2 md:col-span-3 md:mb-5 sm:w-4/6">
        <h2
          class="text-gray-800 mb-10 text-5xl tracking-tighter font-bold dark:text-gray-200"
        >
          {{ item.name }}
        </h2>
        <p class="text-xl tracking-tight text-gray-700 dark:text-gray-300">
          {{ item.description }}
        </p>
      </div>
      {% else %}
      <div>
        <h3
          class="text-gray-800 font-bold mb-8 text-3xl tracking-tight dark:text-white"
        >
          {{ item.name }}
        </h3>
        <p
          class="md:pb-5 post text-xl tracking-tight text-gray-700 dark:text-gray-300"
        >
          {{ item.description | safe }}
        </p>
        <ul class="leading-8">
          {% for item in item.tags%}
          <li class="text-gray-700 dark:text-gray-300 font-bold tracking-tight">
            # {{ item }}
          </li>
          {% endfor %}
        </ul>
      </div>
      {% endif %} {% endfor %}
    </div>
  </div>
</section>
<!-- services end -->
